.key-features-container{
    padding: 132px 100px;
}
@media only screen and (max-width: 1415px) 
{   
    .key-feature-content{
        display: flex;
        justify-content: center;
    }
    .key-feature-icon{
        margin-left: 0px!important;
    }
}
@media only screen and (max-width: 1024px) 
{
    .key-feature-item{
        height:auto!important;
    }
    .key-feature-icon{
        margin-left: 0px!important;
    }
    .key-feature-content{
        display: flex;
        justify-content: center;
    }
    .key-features-container{
        padding: 132px 0px !important;
    }
}
@media only screen and (max-width: 1024px) 
{
    .feature-detail{
        width: 100% !important;
        padding:0px 50px;
    }
}
.feature-detail{
    width:700px;
}
.key-feature-content{
    width:100%;
    position: absolute;
    left:0px;
    top:-50px;
}
.key-feature-item{
    position: relative;
    background: rgba(98, 69, 237, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color:#424242;
    padding:130px 60px 50px 60px;
    width: 530px;
    height: 318px;
    transition: .3s;
    cursor: pointer;
    margin: 45px 35px;
}

.key-feature-icon{
    background: linear-gradient(157.13deg, #6245ED 5.27%, #DD39FC 103.46%);
    width:130px;
    height:130px;
    margin-left: 60px;
    border: 0px solid white;
    border-radius: 50%;
    transition: .3s;
}

.key-feature-item:hover{
    color:white;
    width: 530px;
    height: 285px;
    border:0px solid white;
    background: linear-gradient(157.13deg, #6245ED 5.27%, #DD39FC 103.46%);
}

.key-feature-item:hover>.key-feature-content>.key-feature-icon{
    border-width: 5px;
    
    box-shadow: 0px 10px 60px 30px rgba(188, 60, 248, 0.35);
}
